!!! 5
%html
    %head
        %title= "Your Website"
        %meta{ :content => "", :name => "description" }
        %meta{ :content => "", :name => "author" }
        %link{ :href => "/css/style.css", :rel => "stylesheet" }
        %link{ :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :crossorigin => "anonymous"}
        %link{ :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css", :integrity => "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp", :crossorigin=> "anonymous"}

    %body
        %nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    %button.navbar-toggle.collapsed{ :type => "button", :'data-toggle' => "collapse",  :'data-target' => "#bs-example-navbar-collapse-1", :'aria-expanded' => "false" }
                        %span.sr-only Toggle navigation
                        %span.icon-bar
                        %span.icon-bar
                        %span.icon-bar
                    %a.navbar-brand{ :href => "#"} Brand

                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    %ul.nav.navbar-nav
                        %li.active
                            %a{ :href => "#" }
                                Link
                                %span.sr-only (current)
                        %li
                            %a{:href => '#'} Link
                    %ul.nav.navbar-nav.navbar-right
                        %li
                            - if @login
                                %a{ :href => "/profile" } Profile
                            - else
                                %a{ :href => "/auth" } Sign In

        =yield

        %footer

        %script{ :src => "https://code.jquery.com/jquery-3.1.0.min.js", :integrity => "sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", :crossorigin => "anonymous" }
        %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", :integrity => "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", :crossorigin => "anonymous" }
